:root {
  --main-color: #ffa200;
  --secondary-color: #fea0000fa200;
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #da0404;
  width: 100%;
}

.container {
  width: 90%;
}

@media (max-width: 300px) {
  .container {
    width: 360px;
  }
}

/* start header */
/* start header */
/* start header */
.header {
  background-color: #ffa200;
}

.header .container {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.header img {
  width: 100px;
  margin: 0px;
  padding: 0px;

  animation-name: thebest;
  animation-duration: 2s;
  animation-iteration-count: infinite;

}

@keyframes thebest {
  0% {
    translate: 0 0;
  }

  50% {
    translate: 20px 0;
  }

  100% {
    translate: 0 0;
  }
}

.header .container .name {
  color: #ea0000;
}

.header .container .name span {
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .header {
    height: 50px;
    padding-bottom: 20px;
    padding-top: -200px;
    margin-top: 0px;
  }

  .header img {
    width: 40px;
  }

  .header .container .name {
    font-size: 12px;
  }
}

/* The menu */
/* The menu */
/* The menu */

.title {
  width: 100%;
  margin-top: 20px;
  margin-bottom: -25px;
  margin: auto;
  text-align: center;
  color: #ffffff;
  text-align: center;

}

.title .container {
  text-align: center;
  width: 100%;
}

.title .text {

  font-size: 50px;
}

.title .text:hover {
  color: #030303;
  font-size: 55px;
}

/* start menu */
/* staer menu */
/* start menu */

/* .menu .container{
  margin-top: 50px;
 
display: grid;

  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));

gap:20px;
 
}

 .container {
  margin: auto;
 width: 95%;
}

@media(max-width:500px){

  .menu .container{
  margin-top: 50px;
 
display: grid;

  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));

gap:5px;
 
}

 .container {
  margin: auto;
 width: 100%;
}

/* }

.menu .col{
  
    direction: rtl;
box-shadow: 0 0 20px 20px rgb(166, 53, 53);
height: 300px;
margin: 50px;
background-color:  var(--secondary-color);

}

 
 
.menu  img{

 width: 100%;
 height: 900px;
 
} */

.menu .container {
  margin: auto;
  margin-top: 20px;


  width: 80%;
  text-align: center;
  padding-bottom: 10px;

}

.menu .container img {

  width: 99%;

  padding-bottom: 10px;



}

@media (max-width:500px) {

  .menu .container {

    width: 99%;

    padding-bottom: 10px;



  }

  .menu .container img {

    width: 99%;

    padding-bottom: 10px;



  }
}

/* CLICK / WHATSAPP */
.click {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 100px;
}

.click .container {
  width: fit-content;
}

.click .container form {
  margin-top: 30px;
}

.click .text {
  font-size: 35px;
  color: var(--secondary-color);
  margin-bottom: 15px;
  font-weight: 700;
 
}

.click a {
  font-size: 28px;
  background-color: #000;
  color: var(--main-color);
  padding: 10px 30px;
  border-radius: 6px;
  display: inline-block;
  transition: 0.3s;
  font-weight: 700;
}

.click a:hover {
  background-color: var(--text-light);
  color: var(--secondary-color);
  transform: scale(1.1);
}